<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Dashboard V.1 | <?php echo APP\SETTINGS::APPNAME ?></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <!-- Google Fonts
		============================================ -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="assets/css/owl.theme.css" />
    <link rel="stylesheet" href="assets/css/owl.transitions.css" />
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/animate.css" />
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css" />
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/educate-custon-icon.css" />
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/morrisassets/js/morris.css" />
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link
      rel="stylesheet"
      href="assets/css/scrollbar/jquery.mCustomScrollbar.min.css"
    />
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/metisMenu/metisMenu.min.css" />
    <link rel="stylesheet" href="assets/css/metisMenu/metisMenu-vertical.css" />
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/calendar/fullcalendar.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/calendar/fullcalendar.print.min.css"
    />
    <!-- touchspin CSS
		============================================ -->
    <link
      rel="stylesheet"
      href="assets/css/touchspin/jquery.bootstrap-touchspin.min.css"
    />
    <!-- datapicker CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/datapicker/datepicker3.css" />
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/form/themesaller-forms.css" />
    <!-- colorpicker CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/colorpicker/colorpicker.css" />
    <!-- select2 CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/select2/select2.min.css" />
    <!-- chosen CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/chosen/bootstrap-chosen.css" />
    <!-- ionRangeSlider CSS
		============================================ -->
    <link
      rel="stylesheet"
      href="assets/css/ionRangeSlider/ion.rangeSlider.css"
    />
    <link
      rel="stylesheet"
      href="assets/css/ionRangeSlider/ion.rangeSlider.skinFlat.css"
    />
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <!-- modernizr JS
		============================================ -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
      <nav id="sidebar" class="">
        <div class="sidebar-header">
          <a href="index.html"
            ><img class="main-logo" src="img/logo/logo.png" alt=""
          /></a>
          <strong
            ><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a
          ></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
          <nav class="sidebar-nav left-sidebar-menu-pro">
            <ul class="metismenu" id="menu1">
              <?php include("sidemenu.html"); ?>
            </ul>
          </nav>
        </div>
      </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logo-pro">
              <a href="index.html"
                ><img class="main-logo" src="img/logo/logo.png" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-advance-area">
        <div class="header-top-area">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="header-top-wraper">
                  <div class="row">
                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                      <div class="menu-switcher-pro">
                         
                        </button>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                      <div class="header-top-menu tabl-d-n">
                        <ul class="nav navbar-nav mai-top-nav">
                          <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                          </li>
                          <li class="nav-item">
                            <a href="logout.php" class="nav-link">Logout</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                      <div class="header-right-info">
                        <ul
                          class="nav navbar-nav mai-top-nav header-right-menu"
                        ></ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                  <nav id="dropdown">
                    <ul class="mobile-menu-nav"></ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Mobile Menu end -->
        <div class="breadcome-area">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list single-page-breadcome">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="breadcome-heading">
                         
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <br /><br />
                      <ul class="breadcome-menu">
                        <li>
                          <a href="#">Home</a>
                          <span class="bread-slash">/</span>
                        </li>
                        <li>
                          <span class="bread-blod">Lend Book</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Advanced Form Start -->
      <div class="advanced-form-area mg-b-15">
        <div class="container-fluid">
          <div class="row">
             
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div
                class="sparkline10-list mg-tb-30 responsive-mg-t-0 table-mg-t-pro-n dk-res-t-pro-0 nk-ds-n-pro-t-0"
              >
                <div class="sparkline10-hd">
                  <div class="main-sparkline10-hd">
                    <h1><?php echo $info['title']; ?></h1>
                    <label>Select Library to Lend </label>
                  </div>
                </div>
                <div class="sparkline10-graph">
                  <div class="input-knob-dial-wrap">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="chosen-select-single mg-b-20">
                                                    
                        </div>
                        <form name="lend" action="do-lend.php" method="post">

                        
                        <div class="chosen-select-single">
                          <input type=""hidden" name="bookid" value="<?php echo $_GET['id']; ?>" hidden> 
                          <select
                            data-placeholder="Choose a Country..."
                            class="chosen-select"
                            
                            tabindex="-1"
                            name="libraryid"
                          >
                          <option value="">Select</option>
                            <?php
                            
                                foreach($lib as $item) {
                                   echo '<option value="'.$item['id'].'">'.$item['name'].'</option>';      
                                }

                            ?>                                                        
                             
                          </select>

                        <br><br>
                        <input type="submit" value="go" />    

                        </form>    
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div
                class="sparkline11-list mg-tb-30 responsive-mg-t-0 nck-ds nk-ds-n-pro"
              >
                <div class="sparkline11-hd">
                  <div class="main-sparkline11-hd">
                    <h1>Select 2</h1>
                  </div>
                </div>
                <div class="sparkline11-graph">
                  <div class="input-knob-dial-wrap">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 
                        <div class="chosen-select-single">
                          <label>Multi Select 1</label>
                          <select
                            class="select2_demo_2 form-control"
                            multiple="multiple"
                          >
                            <option value="Mayotte">Mayotte</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Micronesia, Federated States of">
                              Micronesia, Federated States of
                            </option>
                            <option value="Moldova, Republic of">
                              Moldova, Republic of
                            </option>
                            <option value="Monaco">Monaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Montenegro">Montenegro</option>
                            <option value="Montserrat">Montserrat</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Myanmar">Myanmar</option>
                            <option value="Namibia">Namibia</option>
                            <option value="Nauru">Nauru</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="New Caledonia">New Caledonia</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
             
             
          </div>
          <div class="row">
              
          </div>
          <div class="row">
             
          </div>
        </div>
      </div>
      <!-- Advanced Form End-->
      <div class="footer-copyright-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="footer-copy-right">
                <p>
                  Copyright © 2022. All rights reserved.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="assets/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="assets/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="assets/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="assets/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="assets/js/metisMenu/metisMenu.min.js"></script>
    <script src="assets/js/metisMenu/metisMenu-active.js"></script>
    <!-- touchspin JS
		============================================ -->
    <script src="assets/js/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="assets/js/touchspin/touchspin-active.js"></script>
    <!-- colorpicker JS
		============================================ -->
    <script src="assets/js/colorpicker/jquery.spectrum.min.js"></script>
    <script src="assets/js/colorpicker/color-picker-active.js"></script>
    <!-- datapicker JS
		============================================ -->
    <script src="assets/js/datapicker/bootstrap-datepicker.js"></script>
    <script src="assets/js/datapicker/datepicker-active.js"></script>
    <!-- input-mask JS
		============================================ -->
    <script src="assets/js/input-mask/jasny-bootstrap.min.js"></script>
    <!-- chosen JS
		============================================ -->
    <script src="assets/js/chosen/chosen.jquery.js"></script>
    <script src="assets/js/chosen/chosen-active.js"></script>
    <!-- select2 JS
		============================================ -->
    <script src="assets/js/select2/select2.full.min.js"></script>
    <script src="assets/js/select2/select2-active.js"></script>
    <!-- ionRangeSlider JS
		============================================ -->
    <script src="assets/js/ionRangeSlider/ion.rangeSlider.min.js"></script>
    <script src="assets/js/ionRangeSlider/ion.rangeSlider.active.js"></script>
    <!-- rangle-slider JS
		============================================ -->
    <script src="assets/js/rangle-slider/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="assets/js/rangle-slider/jquery-ui-touch-punch.min.js"></script>
    <script src="assets/js/rangle-slider/rangle-active.js"></script>
    <!-- knob JS
		============================================ -->
    <script src="assets/js/knob/jquery.knob.js"></script>
    <script src="assets/js/knob/knob-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="assets/js/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="assets/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="assets/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <script src="assets/js/tawk-chat.js"></script>
  </body>
</html>
