<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Library App | Dashboard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <!-- Google Fonts
		============================================ 
    <link
      href="https://fonts.googleapis.com/css?family=Play:400,700"
      rel="stylesheet"
    />-->
  </head>

  <body>
    <div class="error-pagewrap">
      <div class="error-page-int">
        <div class="text-center m-b-md custom-login">
          <h3>LIBRARY ADMIN</h3>
        </div>
        <form name="login" action="gologin.php" method="POST"> 
        <div class="content-error">
          <div class="hpanel">
            <div class="panel-body">
              <!-- <form action="#" id="loginForm"> -->
                <div class="form-group">
                  <label class="control-label" for="username">Username</label>
                  <input
                    type="text"
                    placeholder=" "
                    title="Please enter you username"
                    required=""
                    value=""
                    name="username"
                    id="username"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label class="control-label" for="password">Password</label>
                  <input
                    type="password"
                    title="Please enter your password"
                    placeholder=" "
                    required=""
                    value=""
                    name="password"
                    id="password"
                    class="form-control"
                  />
                </div>
                <div class="checkbox login-checkbox"></div>
                <button
                  id="btnlogin"
                  class="btn btn-success btn-block loginbtn"
                >
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="text-center login-footer"></div>
      </div>
    </div>
  </body>

  <script>
    $(document)
      .on("click", "#btnlogin", (event) => login())
      .ready(() => {});

    // function login() {
    //   $.ajax({
    //     url: "/gologin.php",
    //     type: "POST",
    //     data: $("#loginForm").serialize(),
    //     success: function (response) {
    //       if (response == 1) {
    //         window.location = "dashboard.php";
    //       } else {
    //         alert("ENHANCE::INCORRECT");
    //       }
    //     },
    //   });
    // }
  </script>
</html>
