<li class="active">
  <a class="has-arrow" href="index.php">
    <span class="educate-icon educate-home icon-wrap"></span>
    <span class="mini-click-non">Books</span>
  </a>
  <ul class="submenu-angle" aria-expanded="true">
    <li>
      <a title="Dashboard v.1" href="create-book.php"
        ><span class="mini-sub-pro">Create</span></a
      >
    </li>
    <li>
      <a title="Dashboard v.2" href="lists-books.php"
        ><span class="mini-sub-pro">Lists</span></a
      >
    </li>
  </ul>
</li>
<li>
  <a class="has-arrow" href="all-professors.html" aria-expanded="false"
    ><span class="educate-icon educate-professor icon-wrap"></span>
    <span class="mini-click-non">Libray</span></a
  >
  <ul class="submenu-angle" aria-expanded="false">
    <li>
      <a title="All Professors" href="list-library.php"
        ><span class="mini-sub-pro">List</span></a
      >
    </li>
  </ul>
</li>
<li>
  <a class="has-arrow" href="all-students.html" aria-expanded="false"
    ><span class="educate-icon educate-student icon-wrap"></span>
    <span class="mini-click-non">Lend</span></a
  >
  <ul class="submenu-angle" aria-expanded="false">
    <li>
      <a title="All Students" href="list-lend.php"
        ><span class="mini-sub-pro">Lists</span></a
      >
    </li>
    <li>
      <a title="Add Students" href="lend.php"
        ><span class="mini-sub-pro">Lend Book</span></a
      >
    </li>
  </ul>
</li>
